body {
    background-image: url(forest.jpg);
    background-size: cover;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home input {
    background-color: white;
    border: 0px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    margin: 10px;
}
.home input:hover {
    background-color: #889add;
    color: white;
}
.forgot-password {
    box-sizing: border-box;
    width: 400px;
    background-color: #242424dd;
    margin: auto;
    margin-top: 10%;
    padding: 40px;
    color: white;
    border-radius: 5px;
}
.heading {
    text-align: center;
}
.forgot-password input {
    width: 300px;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid white;
    background-color: #ffffff00;
    padding-left: 10px;
    color: white;
    outline: none;
}
.forgot-password .submit{
    background-color: #738adbc0;
    width: 312px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    color: white;
}
.forgot-password .submit:hover {
    background: #738adb9b;
}
.forgot-password input:placeholder-shown{
    padding-left: 10px;
    color: white;
}